<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="10">
    <style>
        img {
        display: flex;
        width: 100%;
        margin-top:20px;
        }   
        a {
    display: flex;
    margin: auto;
    width: 100px;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    background-color: brown;
    padding: 10px;
    color: orange;
    font-family: sans-serif;
}
body {
    background-color: lightsteelblue;
}
    </style>

    <title>Document</title>
    {% block head %} {% endblock %}
</head>
<body>
    {% block body %} {% endblock %}
</body>
</html>
